body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-areas: "secao-principal anuncio" "secao-principal videos ";
  grid-template-columns: 1fr 270px;
  grid-template-rows: 55px 1fr;
  max-width: 900px;
  gap: 18px;
  padding: 35px;
  background: #f7f7f7;
}

.secao-principal {
  grid-area: secao-principal;
}

.secao-principal .video-principal {
  width: 100%;
  margin-bottom: 12px;
}

.secao-principal .titulo-principal {
  font-size: 18px;
  margin-bottom: 7px;
}
.secao-principal .visualizacao-principal {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.secao-principal .texto-principal {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

.anuncio {
  grid-area: anuncio;
}

.videos {
  grid-area: videos;
}
.videos .video {
  display: flex;
  margin-bottom: 15px;
  gap: 5px;
}

.video .texto .titulo-video {
  font-size: 14px;
  margin-bottom: 7px;
}

.video .texto p {
  margin-bottom: 5px;
  font-size: 11px;
}
